@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f4f8fb;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(#2563eb, #6366f1);
}
